/* GLOBAL */
body{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    font-size: 1em;
    margin: 0;
}
body,#main-wrapper, nav, header{
    box-sizing: border-box;
}
#main-wrapper{
    margin: auto;
    width:1440px
}
/* HEADER */
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
/* LOGO */
.main_header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 7%
}
.main_header_logo_size{
    width: 100%;
}
/* NAV */
.main_header_nav{
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    width: 20%;
    margin-left: auto;
}
.main_header_nav_list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}
.main_header_nav_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 99px;
}
.main_header_sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 99px;
}
.main_header_nav_link_hosting{
    text-decoration: none;
    color: #0065fc;
}
.main_header_nav_link_activities{
    text-decoration: none;
    color: #000000;
}
.main_header_sign_link{
    text-decoration: none;
    color: #0065fc;
    font-weight: 600;
}
.main_header_nav_item_hosting{
    border-top: 2px solid #0065fc;
}
.main_header_nav_item_activities, .main_header_sign{
    border-top: 2px solid transparent;
}

/* SECTION SEARCH */
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    margin-bottom: 3%;
} 
.search_title{
    margin-bottom: 0;
}
.search_text{
    margin-bottom: 8px;
}
.search_form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.search_form_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 40px;
    border-radius: 10px 0 0 10px;
    height: 45px;
}
#search_form_input{
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    height: 45px;
    padding: 1px 10px;
}
#search_form_input::placeholder{
    color: #000000;
    font-weight: 600;
}
.search_form_button{
    border: none;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
    color: #ffffff;
    height: 45px;
    width: 90px;    
}
/* FILTERS */
.search_filter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    margin-top: 20px;
}
.search_filter_title{
    margin-right: 2%;
}
.search_filter_type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    text-decoration: none;
    color: #000000;
}
.search_filter_type_choice{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 20px;
    height: 40px;
}
.search_filter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: #deebff;
    width: 40px;
    height: 40px;
    font-size: 1em;
    margin: 0 10px 0 0;
    border-radius: 100%;
}
/* INFO */
.search_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search_info_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: #ffffff;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
}
/* HEBERGEMENTS A MARSEILLE ET LES PLUS POPULAIRES */
.container_hosting_n_Pop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* STYLE DES LIENS DE LA SECTION HEBERGEMENTS/LES PLUS POPULAIRES */
.container_hosting_link_card,.container_most_popular_link-card{
    text-decoration: none;
    color: #000000;
}
/* MARGES DES H3 ET P DANS LES PLUS POPULAIRES */
.container_most_popular_info_name h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.container_most_popular_info_name p{
    margin-top: 0;
    margin-bottom: auto;
}
/* ICONES STARS */
.hosting_grading_grey{
    color: #F2F2F2;
}
.hosting_grading_blue{
    color: #0065fc;
}
/* SECTION HOSTING IN MARSEILLE */
#container_hosting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 650px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 2% 3% ;
    flex: 2; 
    margin-right: 5%;
}
#container_hosting h2{
    margin-bottom: 0;
}
.container_hosting_title{
    display: flex;
}
.container_hosting_cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 500px;
   /* width: 94%;*/
}

.container_hosting_link_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4px;
}
.container_hosting_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;  
}
.container_hosting_info_name{
    padding-left: 6px;
}
.container_hosting_info_name h3{
    margin: 7px 0;

}
.container_hosting_info_name p{
    margin: 0px 0 7px 0;
}

.container_hosting_info_pic{
    object-fit: cover;
    width: 100%;
    height: 116px;
    border-radius: 20px 20px 0 0;
}

.hosting_grading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    
}
.see_more{
    display: flex;
    
    
    border: none;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin-bottom: 19.92px;
    
}
/* LES PLUS POPULAIRES */
.container_most_popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 650px;
    padding: 2% 3%;
    flex: 0.85;
}
.container_most_popular h2{
    margin-bottom: 0;
}
.container_most_popular_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.most_pop_icon{
    margin-top: 19.92px;
    font-size: 1.3em;

}
.container_most_popular_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}
.container_most_popular_link-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4px;
    width: 96%;
    height: 25%;
    
}
.container_most_popular_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.container_most_popular_info_name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    padding-left: 30px;
    height: 100%;
    width: 50%;
}
.container_most_popular_info_pic{
    height: 100%;
    width: 35%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
